<div class="sub-footer">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <div class="sub-footer-inner">
            <ul>
              <li><i class="fab fa-twitter"></i> <a href="https://twitter.com/{{ .Site.Data.contact.twitter }}">{{.Site.Data.contact.twitter}}</a></li>
              <li><i class="fab fa-github"></i> <a href="https://github.com/{{ .Site.Data.contact.github }}">{{.Site.Data.contact.github}}</a></li>
            </ul>
            <ul>
              <li class="zerostatic"><a href="https://augurk.github.io">augurk.github.io</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>